* {
  margin: 0;
  padding: 0;
}

/* p h1, h1,h3, h4, h5, h6{
  padding: 0;
  margin: 0;
} */

body {
  background-color: #f9f6f3;
}
/*Home*/
.header-2 h2 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  /* line-height: 84px; */
  /* text-align: left; */
}
.header-2 {
  margin-top: 20px;
}
.header-2 span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  /* line-height: 84px; */
  /* text-align: left; */
  color: #fa8f42;
}
.make {
  font-family: fixel Text;
}
.flatn {
  width: 100%;
}
.header-arrow {
  position: absolute;
  left: 90%;
  top: 120px;
  width: 31.47px;
  height: 30.75px;
}
.hero-9 h5 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
}
.hero-9 span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #f1454f;
}
.drop {
  display: none;
}
.hero-8Header h5 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1b;
}
.hero-8Header span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #f1454f;
}
.hero-8Card {
  padding: 8px 8px 16px 8px;
  gap: 16px;
  border-radius: 24px;
  background-color: #ffffff;
  position: relative;
}
.discover-btn {
  padding: 16px 24px 16px 24px;
  border-radius: 56px;
  border: 1px solid #e7e1db;
  font-size: 12px;
  color: #1d1d1b;
  width: 106px;
}
.discoverp h6 {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1b;
  margin-top: 5px;
}
.discoverp p {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1b;
}
.discoverp pre {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 500;
  color: #a91703;
}
.dash {
  position: absolute;
  left: 50px;
  top: 45px;
  width: 16.69px;
  height: 16.47px;
  display: none;
}
.hero-7 {
  height: 600px;
  background: linear-gradient(to top, #ffe5a4, #ff763c);
  padding: 48px 48px 0px 48px;
  gap: 48px;
  border-radius: 40px;
  margin-top: 40px;
}
.download {
  position: absolute;
  right: 40px;
  top: 10px;
}
.down-Img {
  position: relative;
}
.hero-7 h4 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.hero-7 span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1b;
  line-height: 62.4px;
}
.hero-7 p {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1b;
  line-height: 32px;
}
.apple {
  width: 28px;
  height: 32px;
}
.download-btn {
  padding: 9px 40px 4px 24px;
  gap: 16px;
  border-radius: 56px;
  background-color: #1d1d1b;
  color: #ffffff;
  height: 64px;
  text-align: justify;
}
.aroww {
  position: absolute;
  top: -60px;
  right: 0;
}
.arow {
  display: none;
}
.aroww {
  display: block;
  position: absolute;
  left: 200px;
  bottom: -70px;
}
.Down-arrow {
  position: relative;
}
.sec-1 {
  height: 117px;
  padding: 24px;
  gap: 16px;
  border-radius: 24px;
  background-color: #ffffff;
  margin: 15px;
}
.sec-1 img {
  width: 24px;
  height: 24px;
}
.section1 {
  background-color: #ffeed5;
  border-radius: 16px;
  height: 300px;
  text-align: center;
  position: relative;
}
.sec-1 h5 {
  font-family: Fixel Text;
  font-size: 15px;
  font-weight: 600;
  color: #1d1d1b;
}
.sec-1 p {
  font-family: Fixel Text;
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1b;
}
.lady {
  width: 260px;
  height: 341px;
}
.lady {
  position: absolute;
  top: -40px;
  left: 0;
}
.lady {
  position: relative;
}
.section2 h4 {
  font-family: Fixel Text;
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1b;
}
.section2 span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #f1454f;
}
.hero-6 {
  margin-top: 40px;
}
.hero-8Header {
  position: relative;
  margin-top: 30px;
}
.section2 {
  margin-left: 20px;
}
.btn-img {
  height: 48px;
  padding: 4px 32px 4px 32px;
  gap: 8px;
  border-radius: 56px;
  background-color: #1d1d1b;
  color: #f8f8f8;
}
.sect-Btn {
  position: relative;
  width: 100%;
}
.card-1 {
  background-color: #ffffff;
  height: 102px;
  padding: 24px;
  gap: 16px;
  border-radius: 24px;
  display: flex;
  margin-top: 20px;
}
.hero-2Img {
  width: 24px;
  height: 24px;
}
.card-1 h6 {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 600;
}
.card-1 p {
  font-size: 14px;
  font-weight: 400;
}
.hero-3 {
  height: 100%;
  padding: 48px;
  gap: 48px;
  border-radius: 40px;
  background-color: #ffffff;
}
.card-2 {
  padding: 8px 8px 12px 8px;
  border-radius: 32px;
  border: 3px solid #f2eee9;
}

.hero-3 h4 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1b;
}
.hero-3 span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  color: #fa8f42;
}
.hero-3 p {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1b;
}
.btn-3 {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Btn-3 {
  position: relative;
}
.btn-3 {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff5db;
  color: #1d1d1b;
  border-radius: 56px;
}
.hero-3 {
  position: relative;
}
.underline1 {
  position: absolute;
  top: 14px;
  right: -15px;
}
.Line {
  position: absolute;
  bottom: 30px;
  left: 180px;
}

.three {
  position: absolute;
  bottom: 0;
  /* left: 155px; */
  width: 75%;
}
.btn-img {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 500;
  color: #f8f8f8;
}
.logo-img {
  width: 120px;
  height: 40px;
}
.Navbar {
  margin-top: 15px;
  /* Ensure it stays on top of other content */
}
.sec-1Cont {
  position: relative;
}
.highlight1 {
  position: absolute;
  top: -10px;
  right: 0;
}
.highlight1 {
  width: 82px;
  height: 49px;
}
.hero4-1 {
  height: 330px;
  border-radius: 40px;
  background-color: #ffffff;
  position: relative;
}
.hero4-2 {
  height: 330px;
  gap: 48px;
  border-radius: 40px;
  background-color: #ffffff;
  position: relative;
}
.hero4-1 h5,
.hero4-2 h5 {
  font-family: Fixel Text;
  font-size: 26px;
  font-weight: 600;
  color: #1d1d1b;
  /* padding: 30px; */
  text-wrap: nowrap;
}
.hero4-1 span,
.hero4-2 span {
  font-family: Fixel Text;
  font-size: 26px;
  font-weight: 600;
  color: #fa8f42;
  text-wrap: nowrap;
}
.hero-8 {
  margin-top: 20px;
}
.hero-5 h4 {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1b;
}
.hero-5 span {
  color: #f1454f;
}
.hero-5Icon {
  color: #1d1d1b;
  /* font-size: 10px; */
  width: 56px;
  height: 56px;
  padding: 16px;
  gap: 8px;
  border-radius: 56px;
  border: 1px solid #e7e1db;
}

.hero-5Icon:active {
  background-color: #000;
  color: #fff;
}

.hero-5Icon:focus {
  background-color: #000;
  color: #fff;
}

.Blog-form {
  margin-left: -20px;
}
.Slide-card {
  /* background: linear-gradient(to bottom, #ff763c, #ffe5a4); */
  padding: 72px, 72px, 0px, 72px;
  border-radius: 24px;
}
.pic-slide {
  width: 140px;
  /* margin-left: 25px; */
}
.nbar {
  background-color: #f0ebe5;
  height: 80px;
  padding: 16px 24px 16px 24px;
  border-radius: 16px;
}
.nav-link {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #1d1d1b;
}
.nav-link {
  margin-right: 10px;
  margin-left: 60px;
}
.nav-link:last-child {
  margin-right: 0; /* Remove right margin from the last link */
}

.hero-5 {
  margin-top: 50px;
}
.nav-btn {
  margin-top: -9px;
}
.F-btn {
  width: 187px;
  height: 48px;
  padding: 4px 24px 4px 24px;
  margin-top: 8px;
  border-radius: 56px;
  background-color: #1d1d1b;
  color: #f8f8f8;
}

.F-btn:hover .D-app,
.D-app:hover {
  color: #f8f8f8;
}
/*Blog page*/
.Blog-header h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}

.Blog-header span {
  color: #fa8f42;
  font-size: 24px;
}
.blogSection {
  height: 1200px;
  padding: 48px !important;
  gap: 32px;
  border-radius: 40px;
  background-color: #ffff;
  margin-top: 10px;
}
.blogRow h6 {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: #1d1d1b;
}
.blogRow {
  margin-top: 20px;
}
.blogRow pre {
  font-family: Fixel Text;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #6941c6;
}
.blogRow1 h6 {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 600;
  color: #1d1d1b;
  text-wrap: nowrap;
}
.blogRow1 pre,
.Linkk pre {
  font-family: Fixel Text;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #6941c6;
}

.blogRow1 p {
  font-family: Fixel Text;
  font-size: 15px;
  font-weight: 400;
}

.blogSection h5 {
  color: #101828;
  font-size: 18px;
  font-weight: 600;
  font-family: Fixel Text;
}
.Linkk {
  text-decoration: none;
}
.blogRow p,
.Linkk p {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #67655e;
}
.mobile-pagin {
  display: block;
}
.web-pagin {
  display: none;
}
.blogSection1 {
  height: 2800px;
  padding: 48px !important;
  gap: 32px;
  border-radius: 40px;
  background-color: #ffff;
  margin-top: 10px;
}
.Homepage {
  text-decoration: none;
}
.pagination,
.page-link,
.page-icon {
  border: none; /* Remove border from page links */
  background-color: transparent; /* Ensure background is transparent */
  color: #1d1d1b;
}

.pagination .page-item {
  border: none; /* Remove border from page items */
  background-color: transparent;
}

.pagination .page-item.active .page-link {
  border: none; /* Remove border from active page links */
  background-color: #fff5db; /* Ensure active background is transparent */
  color: #1d1d1b;
}
.Blog-form {
  width: 293px;
  height: 56px;
}
.form-box {
  width: 400px;
  max-width: 100%;
  position: relative;
  /* padding-top: 30px; */
}

.form-box input {
  color: #1d1d1b;
  padding: 15px 10px;
  border-radius: 50px;
  outline: none;
  background: #ffff;
  width: 100%;
  border: 1px solid #8f8f8f;
  height: 54px;
  padding-left: 38px;
  font-family: Fixel Text;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

::placeholder {
  color: #1d1d1b;
  font-size: 20px;
  line-height: 20px;
}

.form-box button {
  color: #fff;
  padding: 1px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #fa8f42, #f1454f);
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 240px;
  bottom: 3px;
  border-radius: 40px;
  justify-content: center;
}
.cardfooter {
  height: 287px;
  padding: 40px;
  gap: 32px;
  border-radius: 32px;
  background-color: #ffffff;
  margin: 1px;
  margin-top: 10px;
}
.cardfooter h2 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  color: #1d1d1b;
}
.cardfooter span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  color: #f1454f;
}
.cardfooter p {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #1d1d1b;
}
.footer {
  margin-top: 100px;
  height: 700px;
  top: 6333px;
  padding: 40px 92px 16px 92px;
  gap: 65px;
  border-radius: 48px;
  background-color: #1d1d1b;
}
/* .btn-icon2 {
  width: 48px;
  height: 48px;
  padding: 10px 13.47px 13.66px 13.29px;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #404040;
  border-radius: 40px;
  margin: 3px;
  color: #fff;
} */
.apple1 {
  height: 32px;
  margin-left: -20px;
  margin-left: auto;
  margin-right: auto;
  color: #1d1d1b;
}
.download-btn2 {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding-top: 10px;
  background-color: #fff;
  color: #1d1d1b;
  border-radius: 56px;
  width: 165px;
}
.footer p a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-wrap: nowrap;
}
.foter {
  margin-top: 100px;
  color: #e7e7e7;
}
.footerP {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #fff;
}
.blog-icon1 {
  position: absolute;
  left: 250px;
}

.blog-icon {
  position: relative;
}
.blog-icon {
  position: absolute;
  left: 250px;
  margin-top: -25px;
}
.arrow2 {
  position: absolute;
  left: 160px;
  top: -20px;
}
.cardfooter-arrow2 {
  position: relative;
  left: -30px;
}
.cardfooter-arrow33 {
  position: relative;
}
.arrow33 {
  display: none;
}

.btn-icon {
  width: 58px;
  height: 56px;
  padding: 9.33px 0px 15.94px 0px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid #e3dbd2;
  margin: 3px;
  color: #fa8f42;
}
.rrow1 {
  position: absolute;
  left: 170px;
  bottom: -25px;
}
.blogSection-arrow {
  position: relative;
}
/*BlogCategory*/
.blog {
  text-decoration: none;
}
.Blogpage {
  text-decoration: none;
}
.BlogcategoryHead {
  height: 2780px;
  padding: 48px;
  gap: 32px;
  border-radius: 40px;
  background-color: #ffffff;
}
.leftArrow {
  width: 56px;
  height: 56px;
  padding: 12px 0px 0px 0px;
  gap: 8px;
  border-radius: 56px;
  background-color: #fff;
}
.Leftarrow {
  font-size: 30px;
  margin-left: 14px;
}
.leftArrow {
  text-decoration: none;
  color: #1d1d1b;
}
.bet-icon {
  position: absolute;
  left: 0;
  top: 5px;
}
.bet-icon {
  position: relative;
}
.bg-cat {
  text-decoration: none;
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #1d1d1b;
}
.bloG-cat1 {
  display: flex;
  justify-content: space-between;
}
.bg-cat2 {
  font-family: Fixel Text;
  font-size: 12px;
  font-weight: 500;
  color: #1d1d1b;
  width: 145px;
  position: absolute;
  left: 20px;
  margin-top: 5px;
}
.bg-cat2 {
  position: relative;
}
.btn-icon3 {
  width: 40px;
  height: 40px;
  padding: 4px;
  gap: 8px;
  border-radius: 64px;
  border: 1px solid #e3dbd2;
  border-radius: 40px;
  margin: 3px;
  color: #fa8f42;
}
.blogCat-icon {
  position: absolute;
  left: -40px;
}
.blogCat-icon {
  position: relative;
}
.BlogCont-con h5 {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 700;
  color: #1d1d1b;
}
.Icon-name {
  width: 24px;
  height: 24px;
  padding: 4.24px 3px 3.76px 3px;
  font-size: 20px;
}
.btn-icon4 {
  width: 40px;
  height: 40px;
  padding: 1px;
  gap: 8px;
  border-radius: 64px;
  border: 1px solid #e3dbd2;
  border-radius: 40px;
  margin: 3px;
  color: #fa8f42;
}
.share-button {
  display: block;
}
.blogcat-Tag {
  padding: 12px;
  border-radius: 40px;
  background-color: #f0ebe5;
  margin: 2px;
}

.blogcat-Tag a {
  font-family: Fixel Text;
  font-weight: 500;
  font-size: 10px;
  color: #1d1d1b;
  text-decoration: none;
}
.avatar {
  width: 56px;
  height: 56px;
}
.blogcategory-Row {
  margin-top: 20px;
}
.blogcategory-Row h5 {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 700;
  color: #1d1d1b;
}
.blogcategory-Row p {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 700;
  color: #1d1d1b;
}
.border-p {
  border-left: 2px solid #1d1d1b;
  font-family: Fixel Text;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  padding-left: 10px;
}
.btn-icon4 {
  width: 40px;
  height: 40px;
  padding: 1px;
  gap: 8px;
  border-radius: 64px;
  border: 1px solid #e3dbd2;
  border-radius: 40px;
  margin: 3px;
  color: #fa8f42;
}
.card-2Cont h6 {
  font-family: fixel Text;
  margin-top: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #1d1d1b;
}
.card-2Cont p {
  font-family: fixel Text;
  margin-top: 3px;
  font-weight: 600;
  font-size: 14px;
  color: #67655e;
}

.foter h6 {
  font-size: 10px;
  line-height: 19.2px;
  font-weight: 400px;
}
.L1 {
  display: none;
}
.underline1 {
  width: 91px;
  height: 33px;
}
.card-2Cont {
  padding: 0px, 12px, 0px, 12px;
}

.card {
  /* width: 360px; */
  height: 444px;
  width: 100%;
}
.card img {
  width: 100%;
}

@media (min-width: 768px) {
  @font-face {
    font-family: fixel Text;
    src: url(../public/FixelText-Regular.otf);
  }
  .pre-tag {
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    color: #6941c6;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: fixel Text;
  }
  .h6-tag {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .p-tag2 {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
  }

  .p-tag3 {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
  }

  /*Home*/
  .make {
    font-family: fixel Text;
  }
  .PalynxT {
    padding-top: 36px;
  }
  .F-btn {
    width: 187px;
    height: 48px;
    padding: 4px 24px 4px 24px;
    margin-top: 8px;
    border-radius: 56px;
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .F-btn:active {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .F-btn:focus {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .F-btn:hover {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .download-btn {
    padding: 14px 40px 4px 24px;
    gap: 16px;
    border-radius: 56px;
    background-color: #1d1d1b;
    color: #f8f8f8;
    width: 204px;
    height: 64px;
    /* text-align: justify; */
    font-size: 12px;
    font-family: fixel Text;
  }
  .download-btn:hover {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .download-btn:active {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .download-btn:focus {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .download-btn3 {
    padding: 2px 32px 4px 16px;
    gap: 5px;
    border-radius: 56px;
    background-color: #ffffff;
    color: #1d1d1b;
    width: 205px;
    height: 48px;
    text-align: justify;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-family: fixel Text;
  }
  .download-btn3:hover {
    background-color: #ffffff;
    color: #1d1d1b;
  }
  .download-btn3:active {
    background-color: #ffffff;
    color: #1d1d1b;
  }
  .download-btn3:focus {
    background-color: #ffffff;
    color: #1d1d1b;
  }

  .apple3 {
    font-size: 28px;
    height: 24px;
    margin-top: -3px;
  }
  .header-2 h2 {
    font-family: Fixel Text;
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    text-wrap: nowrap;
    line-height: 84px;
  }
  .header-2 .Text-span {
    font-family: Fixel Text;
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
    color: #fa8f42;
  }
  .header-2 p {
    font-family: Fixel Text;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
  }
  .header-2 {
    margin-top: 40px;
  }
  .homebtn-1 {
    width: 203px;
    height: 56px;
    padding: 4px 32px 4px 32px;
    gap: 8px;
    border-radius: 56px;
    background-color: #1d1d1b;
    color: #fff;
  }
  .flatn {
    width: 450px;
    position: absolute;
    top: 40px;
    left: -40px;
    /* text-align: center; */
  }
  .flatn {
    position: relative;
  }
  .header-arrow {
    position: absolute;
    left: 0;
    top: -30px;
    width: 49.67px;
    height: 48.54px;
    font-family: fixel Text;
  }
  .hero-9 {
    margin-top: 40px;
    position: relative;
  }
  .header-arrow {
    position: relative;
    font-family: fixel Text;
  }
  .drop {
    position: absolute;
    left: 650px;
    top: -5px;
    width: 104.8px;
    height: 87.32px;
  }
  .hero9-drop {
    position: relative;
    /* left: -30px; */
  }
  .hero-9 h5 {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
  }
  .hero-9 span {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #f1454f;
  }
  .drop {
    display: block;
  }
  .accordion {
    margin-top: 20px;
  }
  .hero-8Header h5 {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .hero-8Header span {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #f1454f;
  }
  .hero-8Card {
    padding: 8px 8px 16px 8px;
    gap: 16px;
    border-radius: 24px;
    background-color: #ffffff;
    height: 365px;
  }
  .hero-8Card img {
    width: 100%;
  }
  .discoverp h6 {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 600;
    color: #1d1d1b;
    margin-top: 15px;
  }
  .discoverp1 h6 {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 600;
    color: #1d1d1b;
    margin-top: 15px;
  }
  .discoverp p {
    font-family: Fixel Text;
    font-size: 18px;
    font-weight: 400;
    color: #1d1d1b;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .discoverp1 p {
    font-family: Fixel Text;
    font-size: 18px;
    font-weight: 400;
    color: #1d1d1b;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .discoverp pre {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 500;
    color: #a91703;
  }
  .discoverp {
    padding-left: 10px;
  }
  .discoverp1 {
    padding-left: 10px;
  }
  .discoverp1 pre {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 500;
    color: #a91703;
  }
  .discover-btn {
    font-family: "Rubik";
    padding: 16px 24px 16px 24px;
    gap: 8px;
    border-radius: 56px;
    font-size: 14px;
    border: 1px solid #e7e1db;
    color: #1d1d1b;
  }
  .dash {
    position: absolute;
    left: 790px;
    top: -5px;
    width: 36.14px;
    height: 35.66px;
    display: block;
  }
  .hero-dash {
    position: relative;
    /* left: -30px; */
  }
  .hero-7 {
    background: linear-gradient(to top, #ffe5a4, #ff763c);
    padding: 48px 48px 0px 48px;
    gap: 48px;
    border-radius: 40px;
    height: 450px;
    margin-top: 40px;
    position: relative;
  }
  .download {
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }
  /* .down-Img {
    position: relative;
  } */
  .L1 {
    width: 221px;
    height: 30px;
    position: absolute;
    bottom: 70px;
    left: -90px;
    display: block;
  }
  .underline1 {
    width: 223px;
    height: 81px;
  }
  .hero77 {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .hero-7 h4 {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-wrap: nowrap;
    line-height: 62.4px;
  }
  .hero-7 span {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #1d1d1b;
    line-height: 62.4px;
  }
  .hero-7 p {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 400;
    color: #1d1d1b;
    line-height: 32px;
  }
  .apple {
    /* width: 28px; */
    /* height: 32px; */
    /* margin-top: 6px; */
    font-size: 25px;
  }

  .arow {
    position: absolute;
    left: 500px;
    bottom: 120px;
    /* width: 161.92px; */
  }
  .aroww {
    display: none;
  }
  .arow {
    display: block;
  }
  .sec-1 {
    height: 117px;
    padding: 24px;
    gap: 16px;
    border-radius: 24px;
    background-color: #ffffff;
  }
  .sec-1 img {
    width: 50px;
    height: 50px;
  }
  .sec-1 h5 {
    font-family: Fixel Text;
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .sec-1 p {
    font-family: Fixel Text;
    font-size: 17px;
    font-weight: 400;
    color: #1d1d1b;
  }

  .section2 h4 {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .section2 span {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #f1454f;
  }
  .section2 {
    margin-top: 0;
  }
  .hero-6 {
    margin-top: 200px;
    position: relative;
  }
  .section1 {
    background-color: #ffeed5;
    border-radius: 40px;
    height: 459px;
    position: relative;
  }
  .lady {
    width: 460px;
    height: 529px;
  }
  .lady {
    position: absolute;
    top: -70px;
    left: 0;
  }
  .lady {
    position: relative;
  }
  .sec-1Cont {
    position: relative;
  }

  .highlight1 {
    position: absolute;
    top: -35px;
    right: 0;
  }

  .btn-img {
    height: 56px;
    padding: 4px 32px 4px 32px;
    gap: 8px;
    border-radius: 56px;
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .btn-img:active {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .btn-img:focus {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }
  .btn-img:hover {
    background-color: #1d1d1b;
    color: #f8f8f8;
  }

  .Line {
    position: absolute;
    bottom: 45px;
    left: 230px;
  }

  .btn-img {
    position: absolute;
    left: 35px;
    bottom: 15px;
    font-family: Fixel Text;
    font-size: 16px;
    font-weight: 500;
    color: #f8f8f8;
  }

  .hero-2 {
    margin-top: 100px;
  }
  .card-1 {
    background-color: #ffffff;
    height: 212px;
    padding: 24px;
    gap: 16px;
    border-radius: 24px;
    display: block;
  }
  .hero-2Img {
    width: 56px;
    height: 56px;
  }
  .card-1 h6 {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 600;
    color: #1d1d1b;
    padding-top: 20px;
  }
  .card-1 p {
    font-family: fixel Text;
    font-size: 15px;
    font-weight: 400;
    color: #1d1d1b;
    padding: 0px, 8px, 0px, 8px;
  }
  .hero-3 {
    margin-top: 120px;
  }
  .hero-3 {
    height: 520px;
    padding: 48px;
    gap: 48px;
    border-radius: 40px;
    background-color: #ffffff;
  }
  .card-2 {
    padding: 8px 8px 12px 8px;
    gap: 12px;
    border-radius: 32px;
    border: 3px solid #f2eee9;
  }

  .card-2Cont h6 {
    font-family: fixel Text;
    margin-top: 3px;
    font-weight: 700;
    font-size: 14px;
    color: #1d1d1b;
  }
  .card-2Cont pre {
    font-family: fixel Text;
    margin-top: 3px;
    font-weight: 500;
    font-size: 13px;
    color: #67655e;
  }
  .card-2Cont {
    padding-left: 10px;
    padding-top: 10px;
  }
  .Btn-3 img {
    width: 100%;
  }

  .hero-3 h4 {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .hero-3 span {
    font-family: Fixel Text;
    font-size: 48px;
    font-weight: 600;
    color: #fa8f42;
  }
  .hero-3 p {
    font-family: Fixel Text;
    font-size: 18px;
    font-weight: 400;
    color: #1d1d1b;
  }
  .btn-3 {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff5db;
    color: #1d1d1b;
    border-radius: 56px;
  }
  .btn-3 {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .Btn-3 {
    position: relative;
  }
  .hero-3 {
    position: relative;
  }
  .underline1 {
    position: absolute;
    top: 14px;
    right: -45px;
  }
  .hero {
    margin-top: 45px;
  }
  .hero4-1 {
    height: 500px;
    padding: 25px;
    border-radius: 40px;
    background-color: #ffffff;
  }
  .hero4-2 {
    height: 500px;
    padding: 25px;
    border-radius: 40px;
    background-color: #ffffff;
  }
  .three {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 85%;
    height: 430px;
  }
  .plat-img1 {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 85%;
    height: 75%;
  }
  .hero-4 {
    margin-top: 20px;
    position: relative;
  }
  .hero4-1 h5,
  .hero4-2 h5 {
    font-family: Fixel Text;
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .hero4-1 span,
  .hero4-2 span {
    font-family: Fixel Text;
    font-size: 25px;
    font-weight: 600;
    color: #fa8f42;
  }
  .hero-7 {
    margin-top: 140px;
    position: relative;
  }
  .hero-8 {
    margin-top: 100px;
  }
  .hero-8Header {
    position: relative;
  }
  .hero-5 {
    margin-top: 100px;
    width: 100%;
  }
  .hero-5 h4,
  .hero-5Share {
    font-family: Fixel Text;
    font-size: 40px;
    font-weight: 600;
    color: #1d1d1b;
    line-height: 62.8px;
    text-align: center;
  }
  .hero-5Share {
    color: #f1454f;
  }

  .Arrow-left,
  .Right-left {
    color: #1d1d1b;
    font-size: 20px;
  }
  .hero-5Icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 56px;
    padding: 16px;
    border: 1px solid #e7e1db;
  }
  .foter h6 {
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400px;
  }
  .homepage {
    text-decoration: none;
  }

  /*Blog*/
  .blogRow1 p {
    font-family: Fixel Text;
    font-size: 13px;
    font-weight: 600;
  }

  .Blog-header h3 {
    font-size: 35px;
  }
  .Blog-header span {
    color: #f1454f;
    font-size: 35px;
  }
  .blogSection {
    height: 560px;
    padding: 48px 0px 0px 0px;
    gap: 32px;
    border-radius: 40px;
    background-color: #ffff;
  }
  .blogSection h5 {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
  }
  .blogRow h6 {
    font-family: Fixel Text;
    font-size: 0px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .blogRow pre,
  .Linkk pre {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 600;
    color: #6941c6;
  }
  .blogSection1 {
    height: 1000px;
    padding: 48px !important;
    border-radius: 40px;
    background-color: #ffff;
    margin-top: 30px;
  }
  .blogRow p,
  .Linkk p {
    font-family: Fixel Text;
    font-size: 16px;
    font-weight: 400;
    /* text-align: left; */
    color: #67655e;
  }
  .Linkk {
    text-decoration: none;
    position: relative;
  }
  .Linkk h6 {
    font-family: Fixel Text;
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1b;
  }
  .card {
    /* width: 360px; */
    height: 444px;
    width: 360px;
  }
  .card img {
    width: 360px;
  }
  .mobile-pagin {
    display: none;
  }
  .web-pagin {
    display: block;
  }
  .cardfooter {
    height: 300px;
    padding: 40px;
    gap: 32px;
    border-radius: 32px;
    background-color: #ffffff;
    margin: 1px;
    margin-top: 10px;
    position: relative;
  }
  .cardfooter h2 {
    font-family: Fixel Text;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: #1d1d1b;
  }
  .cardfooter span {
    font-family: Fixel Text;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    color: #f1454f;
  }
  .cardfooter p {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #1d1d1b;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .footer {
    margin-top: 100px;
    height: 331px;
    top: 6333px;
    padding: 40px 92px 16px 92px;
    gap: 65px;
    border-radius: 48px;
    background-color: #1d1d1b;
  }
  .btn-icon2 {
    width: 48px;
    height: 48px;
    padding: 10px 13.47px 13.66px 13.29px;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid #404040;
    border-radius: 40px;
    margin: 3px;
    color: #fff;
  }
  .apple1 {
    height: 32px;
    margin-left: -20px;
    margin-left: auto;
    margin-right: auto;
    color: #1d1d1b;
    margin-top: -5px;
  }
  .download-btn2 {
    font-family: Fixel Text;
    font-size: 16px;
    font-weight: 500;

    background-color: #fff;
    color: #1d1d1b;
    border-radius: 50px;
  }
  .footer p a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  .foter {
    margin-top: 100px;
    color: #e7e7e7;
  }
  .footerP {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
    text-wrap: nowrap;
  }
  .b-ff {
    margin-bottom: 20px;
  }

  .col-sm-6 h6 {
    font-family: Fixel Text;
    font-size: 18px;
    font-weight: 600;
  }
  .col-sm-6 pre {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 600;
  }
  .Blog-post pre {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 600;
    color: #6941c6;
    margin-top: 10px;
  }
  .Blog-post h6 {
    font-family: Fixel Text;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #1d1d1b;
  }
  .Blog-post p {
    font-family: Fixel Text;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #67655e;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .blog-icon1 {
    position: absolute;
    left: 320px;
    bottom: 110px;
  }
  .blog-icon {
    position: absolute;
    left: 520px;
    margin-top: -25px;
  }
  .arrow2 {
    position: absolute;
    left: 270px;
    top: -20px;
  }
  .cardfooter-arrow2 {
    position: relative;
    left: -30px;
  }
  .arrow33 {
    position: absolute;
    right: -20px;
    bottom: 0;
    /* width: 190.43px;
    height: 158.43px; */
  }
  .footer {
    margin-bottom: 15px;
  }
  .cardfooter-arrow33 {
    position: relative;
    /* left: -30px; */
  }
  .btn-icon {
    width: 88px;
    height: 56px;
    padding: 9.33px 0px 15.94px 0px;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid #e3dbd2;
    margin: 3px;
    color: #fa8f42;
  }
  .arrow33 {
    display: block;
  }
  .rrow1 {
    position: absolute;
    left: 170px;
    bottom: -25px;
  }
  .blogSection-arrow {
    position: relative;
  }
  /*BlogCategory*/
  .BlogcategoryHead {
    height: 2500px;
    padding: 48px;
    gap: 32px;
    border-radius: 40px;
    background-color: #ffffff;
    position: relative;
  }
  .bgcat p {
    font-family: Fixel Text;
    font-size: 12px;
  }
  .bgcat2 {
    position: absolute;
    left: -2400;
    top: -0;
  }
  .bgcat2 {
    position: relative;
  }
  .bet-icon {
    position: absolute;
    left: 0;
    top: 5px;
  }
  .bet-icon {
    position: relative;
  }
  .bg-cat {
    text-decoration: none;
    font-family: Fixel Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #1d1d1b;
    /* margin-right: 21px; */
  }
  .bg-cat2 {
    display: inline;
  }
  .btn-icon3 {
    width: 40px;
    height: 40px;
    padding: 1px;
    gap: 8px;
    border-radius: 64px;
    border: 1px solid #e3dbd2;
    border-radius: 40px;
    margin: 3px;
    color: #fa8f42;
  }
  .bg-cat2 {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1b;
    position: absolute;
    left: -10px;
    margin-top: 5px;
  }
  .bg-cat2 {
    position: relative;
  }
  .BlogCont-con h5 {
    font-family: Fixel Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #1d1d1b;
    text-wrap: nowrap;
  }
  .blogCat-icon {
    position: absolute;
    left: -50px;
  }
  .Icon-name {
    width: 24px;
    height: 24px;
    padding: 4.24px 3px 3.76px 3px;
    font-size: 20px;
  }
  .blogcategory-Row {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
  }
  .blogcategory-Row h5 {
    font-family: Fixel Text;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #1d1d1b;
  }
  .border-p {
    border-left: 2px solid #1d1d1b;
    font-family: Fixel Text;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
  }
  .btn-icon4 {
    width: 40px;
    height: 40px;
    padding: 1px;
    gap: 8px;
    border-radius: 64px;
    border: 1px solid #e3dbd2;
    border-radius: 40px;
    margin: 3px;
    color: #fa8f42;
  }
  .blogcat-Tag a {
    font-family: Fixel Text;
    font-weight: 500;
    line-height: 14px;
    color: #1d1d1b;
    text-decoration: none;
  }
  .blogcat-Tag {
    height: 34px;
    padding: 6px 16px 12px 16px;
    border-radius: 40px;
    background-color: #f0ebe5;
    margin: 2px;
  }
  .share-button {
    display: flex;
    justify-content: space-between;
  }
  .avatar {
    width: 56px;
    height: 56px;
  }
  .Avatar-up pre {
    margin-top: -15px;
  }

  .blog {
    text-decoration: none;
  }
  .Blogpage {
    text-decoration: none;
  }

  .accordionSpan {
    font-family: fixel Text;
    font-family: Fixel Text;
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1b;
  }

  .accordionItem {
    margin-bottom: 2rem; /* Adjust the value as needed for spacing */
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .accordionHeader {
    color: #000; /* Optional: Set text color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 1.5em 1em; /* Optional: Adjust padding */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    overflow: hidden;
  }

  .accordionToggleIcon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2em;
    background-color: #333; /* Dark background */
    color: #fff; /* Icon color */
    border-radius: 50%; /* Border radius */
    padding: 0.5em; /* Padding */
  }

  .accordionItem .accordion-button:not(.collapsed) .accordionHeader {
    background-color: white;
    border-radius: 10.5rem;
  }

  .accordionItem .accordion-collapse {
    background-color: white;
  }

  .accordionBody {
    background-color: white;
    overflow: hidden;
    padding: -20px;
  }
  .accordion-item {
    background-color: transparent;
  }
  ::placeholder {
    color: #1d1d1b;
    font-size: 18px;
    line-height: 20px;
  }

  .slider-container {
    width: 80%;
    margin: auto;
  }
  .slick-slide {
    padding: 0 25px;
  }

  .pic-slide {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* margin-left: 65px; */
  }
  .Slide-card {
    padding: 10px;
    background-color: #ffff; /* Default background color for non-active slides */
    /* width: 444px; */
    /* height: 569px; */
    padding: 72px 72px 0px 72px;
    gap: 8px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
  }

  .Slide-card.active {
    background: linear-gradient(to top, #ffe5a4, #ff763c);
    /* width: 444px; */
    /* height: 569px; */
    padding: 72px 72px 0px 72px;
    gap: 8px;
    border-radius: 40px;
  }
}
.custom-sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1020; /* Make sure it's above other content */
}

.navbar-nav .nav-link.active {
  color: #fa8f42; /* Example: White color for active links */
}

.navbar-nav .nav-link {
  color: #1d1d1b; /* Example: Black color for non-active links */
}
