body {
  background-color: #f9f6f3;
}

.logo-img {
  width: 120px;
  height: 40px;
}
.Navbar {
  margin-top: 15px;
  /* Ensure it stays on top of other content */
}

.nbar {
  background-color: #f0ebe5;
  height: 80px;
  padding: 16px 24px 16px 24px;
  border-radius: 16px;
}
.nav-link {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #1d1d1b;
}
.nav-link {
  margin-right: 10px;
  margin-left: 60px;
}
.nav-link:last-child {
  margin-right: 0; /* Remove right margin from the last link */
}
.F-btn,
.F-btn:hover {
  width: 187px;
  height: 48px;
  padding: 4px 24px 4px 24px;
  gap: 8px;
  border-radius: 56px;
  background-color: #1d1d1b;
  color: #f8f8f8;
}
.D-app,
.D-app:hover {
  color: #f8f8f8;
}
/*Blog page*/
.Blog-header h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
.Blog-header span {
  color: #fa8f42;
  font-size: 16px;
}
.blogSection {
  height: 1200px;
  padding: 48px !important;
  gap: 32px;
  border-radius: 40px;
  background-color: #ffff;
  margin-top: 10px;
}
.blogRow h6 {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: #1d1d1b;
}
.blogRow{
  margin-top: 20px;
}
.blogRow pre {
  font-family: Fixel Text;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #6941c6;
}
.blogRow1 h6,
.Linkk h6 {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #1d1d1b;

}
.blogRow1 pre,
.Linkk pre {
  font-family: Fixel Text;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #6941c6;
}

.blogSection h5 {
  color: #101828;
  font-size: 18px;
  font-weight: 600;
  font-family: Fixel Text;
}
 .blogSection1 {
    height: 2300px !important;
    margin-top: 50px !important;
    
  }
.Linkk {
  text-decoration: none;
}
.blogRow p,
.Linkk p {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #67655e;
}
.mobile-pagin {
  display: block;
}
.web-pagin {
  display: none;
}
.blogSection1 {
  height: 2800px;
  padding: 48px !important;
  gap: 32px;
  border-radius: 40px;
  background-color: #ffff;
  margin-top: 10px;
}

.pagination,
.page-link,
.page-icon {
  border: none; /* Remove border from page links */
  background-color: transparent; /* Ensure background is transparent */
  color: #1d1d1b;
}

.pagination .page-item {
  border: none; /* Remove border from page items */
  background-color: transparent;
}

.pagination .page-item.active .page-link {
  border: none; /* Remove border from active page links */
  background-color: #fff5db; /* Ensure active background is transparent */
  color: #1d1d1b;
}
.Blog-form {
  width: 293px;
  height: 56px;
}
.form-box {
  width: 400px;
  max-width: 100%;
  position: relative;
  /* padding-top: 30px; */
}

.form-box input {
  color: #1d1d1b;
  padding: 15px 10px;
  border-radius: 50px;
  outline: none;
  background: #ffff;
  width: 100%;
  border: 1px solid #8f8f8f;
  height: 50px;
  text-align: center;
  font-family: Fixel Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.form-box button {
  color: #fff;
  padding: 1px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #ffe5a4, #ff763c);
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 245px;
  border-radius: 40px;
}
.cardfooter {
  height: 287px;
  padding: 40px;
  gap: 32px;
  border-radius: 32px;
  background-color: #ffffff;
  margin: 1px;
  margin-top: 10px;
}
.cardfooter h2 {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  color: #1d1d1b;
}
.cardfooter span {
  font-family: Fixel Text;
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  text-align: left;
  color: #f1454f;
}
.cardfooter p {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #1d1d1b;
}
.footer {
  margin-top: 100px;
  height: 700px;
  top: 6333px;
  padding: 40px 92px 16px 92px;
  gap: 65px;
  border-radius: 48px;
  background-color: #1d1d1b;
}
.btn-icon2 {
  width: 48px;
  height: 48px;
  padding: 10px 13.47px 13.66px 13.29px;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #404040;
  border-radius: 40px;
  margin: 3px;
  color: #fff;
}
.apple1 {
  height: 32px;
  margin-left: -20px;
  margin-left: auto;
  margin-right: auto;
  color: #1d1d1b;
}
.download-btn2 {
  font-family: Fixel Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding-top: 10px;
  background-color: #fff;
  color: #1d1d1b;
  border-radius: 56px;
  width: 165px;
}
.footer p a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.foter {
  margin-top: 100px;
  color: #e7e7e7;
}
.footerP {
  font-family: Fixel Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #fff;
}
  .blog-icon1 {
  position: absolute;
  left: 250px;
  margin-top: -25px;
}

 .blog-icon {
  position: absolute;
  left: 350px;
  margin-top: -25px;
}
 .arrow2 {
    position: absolute;
    left: 160px;
    top: -20px;
  }
  .cardfooter-arrow2 {
    position: relative;
    left: -30px;
  }
  .arrow33 {
    position: absolute;
    left: 240px;
    bottom: -50px;
    width: 190.43px;
    height: 158.43px;
  }
  .cardfooter-arrow33 {
    position: relative;
}
.arrow33{display: none;}

.btn-icon {
  width: 58px;
  height: 56px;
  padding: 9.33px 0px 15.94px 0px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid #e3dbd2;
  margin: 3px;
  color: #fa8f42;
}
.rrow1 {
  position: absolute;
  left: 170px;
  bottom: -25px;
}
.blogSection-arrow{
  position: relative;
}
@media (min-width: 768px) {
  .Blog-header h3 {
    font-size: 24px;
  }
  .Blog-header span {
    color: #f1454f;
    font-size: 24px;
  }
  .blogSection {
    height: 560px;
    padding: 48px 0px 0px 0px;
    gap: 32px;
    border-radius: 40px;
    background-color: #ffff;
  }
  .blogSection h5 {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
  }
  .blogRow{
  margin-top: 20px;
}
  .blogRow h6,
  .Linkk h6 {
    font-family: Fixel Text;
    font-size: 24px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #1d1d1b;
  }
  .blogRow pre,
  .Linkk pre {
    font-family: Fixel Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #6941c6;
  }
  .blogSection1 {
    height: 1100px !important;
    padding: 48px !important;
    gap: 32px;
    border-radius: 40px;
    background-color: #ffff;
    margin-top: 10px;
  }
  .blogRow p,
  .Linkk p {
    font-family: Fixel Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #67655e;
  }
  .Linkk {
    text-decoration: none;
  }
  .Linkk h6 {
    font-family: Fixel Text;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #1d1d1b;
    width: 320px;
  }
  .mobile-pagin {
    display: none;
  }
  .web-pagin {
    display: block;
  }
  .cardfooter {
    height: 300px;
    padding: 40px;
    gap: 32px;
    border-radius: 32px;
    background-color: #ffffff;
    margin: 1px;
    margin-top: 10px;
  }
  .cardfooter h2 {
    font-family: Fixel Text;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    color: #1d1d1b;
  }
  .cardfooter p {
    font-family: Fixel Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #1d1d1b;
  }
  .footer {
    margin-top: 100px;
    height: 331px;
    top: 6333px;
    padding: 40px 92px 16px 92px;
    gap: 65px;
    border-radius: 48px;
    background-color: #1d1d1b;
  }
  .btn-icon2 {
    width: 48px;
    height: 48px;
    padding: 10px 13.47px 13.66px 13.29px;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid #404040;
    border-radius: 40px;
    margin: 3px;
    color: #fff;
  }
  .apple1 {
    height: 32px;
    margin-left: -20px;
    margin-left: auto;
    margin-right: auto;
    color: #1d1d1b;
    margin-top: -10px;
  }
  .download-btn2 {
    font-family: Fixel Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding-top: 15px;
    background-color: #fff;
    color: #1d1d1b;
    border-radius: 50px;
  }
  .footer p a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  .foter {
    margin-top: 100px;
    color: #e7e7e7;
  }
  .footerP {
    font-family: Fixel Text;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #fff;
  }
  .blog-icon1 {
  position: absolute;
  left: 350px;
  margin-top: -60px;
}
  .blog-icon {
  position: absolute;
  left: 580px;
  margin-top: -25px;
}
  .arrow2 {
    position: absolute;
    left: 200px;
    top: -20px;
  }
  .cardfooter-arrow2 {
    position: relative;
    left: -30px;
}
 .arrow33 {
    position: absolute;
    left: 420px;
    bottom: -40px;
    width: 190.43px;
    height: 158.43px;
  }
  .cardfooter-arrow33 {
    position: relative;
    /* left: -30px; */
}
.btn-icon {
  width: 88px;
  height: 56px;
  padding: 9.33px 0px 15.94px 0px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid #e3dbd2;
  margin: 3px;
  color: #fa8f42;
}
.arrow33{display: block;}
.rrow1 {
  position: absolute;
  left: 210px;
  bottom: -25px;
}
.blogSection-arrow{
  position: relative;
}
}
